<div class="container">

      <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('https://st2.depositphotos.com/1000633/10782/i/450/depositphotos_107822956-stock-photo-saint-jean-castle.jpg') %>)">
          <h1><%= @hotel.name %></h1>


      </div>
       <p><%= @hotel.address %></p>
        <%= @room.capacity %>
        <%= @room.price_per_night %>

</div>
